/* Section infos compte */
#secCmpt {
	flex-direction: column;
	background-color: #ffffff !important;
	box-shadow: 0 15px 20px -15px #cecece !important;
	height: 100%;
	padding: 15px 0;
}
	/* Section formulaire */
form > select {
	width: calc(100% + 2 * 4px + 1px);
}
form > button {
	grid-column: span 2;
}


/* Version mobile */
@media screen and (max-width: 799px) {
	/* Section création compte */
		/* Section formulaire */
	#secForm > form {
		width: 80%;
	}
	form > select {
		width: unset !important;
	}

		/* Bouton d'enregistrement */
	form > button:last-child {
		margin-top: 30px;
	}

}