/* Général */
@font-face {
	font-family: "Open Sans";
	font-display: swap;
	src: url("polices/open-sans-600.woff2") format("woff2"),
		url("polices/open-sans-600.woff") format("woff");
}
html {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
* {
	scrollbar-color: #cdcdcd #f0f0f0;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
body{
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #000000;
	background-color: #f2f1f5;
	font-family: "Open Sans", Arial, sans-serif;
}
h1 {
	width: 80%;
	margin-top: 0;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-image: radial-gradient(#000000, #ffffff) 1;
}
p {
	font-size: 16px;
}

	/* Boutons dropdown */
.dropbtn {
	background-color: #04aa6d;
	color: #ffffff;
	font-size: 16px;
	width: 65px;
	height: 72px;
	padding: 0;
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	z-index: 1;
	min-width: fit-content;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.dropdown-content button {
	display: block;
	width: 100%;
	border: none;
	padding: 12px 36px 12px 12px;
	background-color: unset;
	text-decoration: none;
	text-align: start;
	font-size: 15px;
	white-space: nowrap;
	font-family: "Open Sans", Arial, sans-serif;
	cursor: pointer;
}
.dropdown-content button:hover {
	background-color: rgba(220, 220, 220, 0.5);
}
.dropdown-content button:hover:last-child {
	border-radius: 0 0 10px 10px;
}
.dropdown-content button:active,
.dropdown-content .selected {
	background-color: rgba(200, 200, 200, 0.5);
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

/* Header */
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100vw;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 15px 20px -15px #cecece;
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

	/* Logo */
header > img {
	width: 144px;
	height: 72px;
}

	/* Sous-sections (choix champs, choix utilisateur) */
header > section {
	display: flex;
	justify-content: right;
	width: calc(50% - 72px);
}
header > section > p,
#optGraph > div > p {
	width: 200px;
	font-size: 16px;
	line-height: 40px;
	margin-right: 10px;
	text-align: end;
	overflow-x: scroll;
	white-space: nowrap;
}

/* Corps */
#corps {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#corps > section,
#secMeteo {
	display: flex;
	align-items: center;
	width: 80%;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 15px 20px -15px #cecece;
	margin-top: 36px;
}
#corps > section:last-child {
	margin-bottom: 18px;
}

	/* Section informations */
#secInfos {
	flex-direction: row;
}
#secInfos > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33.33%;
	margin: 15px 0;
	text-align: center;
}

	/* Section météo/moyenne */
#compMetMoy {
	flex-direction: row;
	justify-content: space-between;
	background-color: unset !important;
	box-shadow: unset !important;
}

		/* Météo */
#secMeteo,
#secTableau {
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding-bottom: 10px;
}
#secMeteo > div,
#secTableau > div {
	display: grid;
	grid-gap: 2px 0;
	width: calc(100% - 20px);
	padding: 10px;
	overflow-x: auto;
}
.colonne {
	display: flex;
	height: 40px;
	background-color: #ffffff;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.titre {
	position: sticky;
	top: 0;
	background-color: #04aa6d !important;
	color: #ffffff;
	margin-bottom: 10px;
}
#secMeteo > div > .colonne:nth-child(22n+1),
#secMeteo > div > .colonne:nth-child(22n+2),
#secMeteo > div > .colonne:nth-child(22n+3),
#secMeteo > div > .colonne:nth-child(22n+4),
#secMeteo > div > .colonne:nth-child(22n+5),
#secMeteo > div > .colonne:nth-child(22n+6),
#secMeteo > div > .colonne:nth-child(22n+7),
#secMeteo > div > .colonne:nth-child(22n+8),
#secMeteo > div > .colonne:nth-child(22n+9),
#secMeteo > div > .colonne:nth-child(22n+10),
#secMeteo > div > .colonne:nth-child(22n+11),
#secTableau > div > .colonne:nth-child(12n+1),
#secTableau > div > .colonne:nth-child(12n+2),
#secTableau > div > .colonne:nth-child(12n+3),
#secTableau > div > .colonne:nth-child(12n+4),
#secTableau > div > .colonne:nth-child(12n+5),
#secTableau > div > .colonne:nth-child(12n+6){
	background-color: #eeeeee;
}
#secMeteo > div > .colonne:nth-child(22n+12),
#secMeteo > div > .colonne:nth-child(22n+13),
#secMeteo > div > .colonne:nth-child(22n+14),
#secMeteo > div > .colonne:nth-child(22n+15),
#secMeteo > div > .colonne:nth-child(22n+16),
#secMeteo > div > .colonne:nth-child(22n+17),
#secMeteo > div > .colonne:nth-child(22n+18),
#secMeteo > div > .colonne:nth-child(22n+19),
#secMeteo > div > .colonne:nth-child(22n+20),
#secMeteo > div > .colonne:nth-child(22n+21),
#secMeteo > div > .colonne:nth-child(22n+22),
#secTableau > div > .colonne:nth-child(12n+7),
#secTableau > div > .colonne:nth-child(12n+8),
#secTableau > div > .colonne:nth-child(12n+9),
#secTableau > div > .colonne:nth-child(12n+10),
#secTableau > div > .colonne:nth-child(12n+11),
#secTableau > div > .colonne:nth-child(12n+12){
	background-color: #fafafa;
}
#secMeteo {
	width: calc(75% - 18px);
	height: calc(140px * 3 - 10px);
	margin-top: 0;
}
#secMeteo > div {
	grid-template-columns: repeat(11, 1fr);
}
#secMeteo > div > .colonne {
	width: calc(100% - 10px);
	padding: 5px;
	font-size: 14px;
}
#secMeteo > div > .colonne:nth-child(11n+11) {
	border-radius: 0 10px 10px 0;
}
#secMeteo > div > .colonne:nth-child(11n+1) {
	border-radius: 10px 0 0 10px;
}

		/* Moyenne */
#secMoyennes {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 25%;
	height: calc(140px * 3);
	border-radius: 10px;
}
#secMoyennes > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 130px;
	border-radius: 10px;
	box-shadow: 0px 15px 20px -15px #cecece;
}
#secMoyennes > div > p {
	margin: 0;
}

			/* Température */
#secMoyennes > div:first-child {
	background-color: rgba(160, 179, 255, 0.6);
}
#secMoyennes > div:first-child > h1 {
	border-image: radial-gradient(#0033ff, #c3ccf7) 1;
}

			/* Humidité */
#secMoyennes > div:nth-child(2) {
	background-color: rgba(255, 196, 133, 0.6);
}
#secMoyennes > div:nth-child(2) > h1 {
	border-image: radial-gradient(#df5d00, #f4d8b7) 1;
}

			/* Luminosité */
#secMoyennes > div:last-child {
	background-color: rgba(255, 220, 130, 0.6);
}
#secMoyennes > div:last-child > h1 {
	border-image: radial-gradient(#c28b00, #f6e5b6) 1;
}

	/* Section graphique */
#secGraph {
	display: flex;
	flex-direction: column;
}

		/* Options du graphique */
#optGraph {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	box-shadow: 0px 15px 20px -15px #cecece;
}
#optGraph > div {
	display: flex;
	width: fit-content;
}
#optGraph > div > p {
	width: fit-content;
	padding-left: 10px;
}
#optGraph > div > .dropbtn {
	width: 50px;
	height: 60px;
}
#optGraph > div:last-child > div > button {
	border-radius: 0 10px 0 0;
}

		/* Graphique */
#graph {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-height: 120vh;
	aspect-ratio: 2/1;
}

	/* Section tableau */
#secTableau {
	width: 100%;
	max-height: 40vh;
}
#secTableau > div {
	grid-template-columns: repeat(6, 1fr);
}
#secTableau > div > .colonne {
	width: 100%;
}
#secTableau > div > .colonne:nth-child(6n+6) {
	border-radius: 0 10px 10px 0;
}
#secTableau > div > .colonne:nth-child(6n+1) {
	border-radius: 10px 0 0 10px;
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
	/* Général */
	* {
		scrollbar-color: #1a1a1a #333333;
	}
	body {
		background-color: #1c1c1e;
		color: #bebebe;
	}
	h1 {
		border-image: radial-gradient(#ececec, #000000) 1;
	}

		/* Boutons dropdown */
	.dropdown-content {
		box-shadow: 0px 8px 16px 0px rgba(107, 107, 107, 0.2);
		background-color: rgba(57, 57, 57, 0.7);
	}
	.dropdown-content button {
		color: white;
	}
	.dropdown-content button:hover {
		background-color: rgba(80, 80, 80, 0.5);
	}
	.dropdown-content button:active,
	.dropdown-content .selected {
		background-color: rgba(111, 111, 111, 0.5);
	}

	/* Header */
	header {
		background-color: rgba(0, 0, 0, 0.7);
		box-shadow: 0px 15px 20px -15px #080808;
	}

	/* Corps */
	#corps > section,
	#secMeteo {
		background-color: #000000;
		box-shadow: 0px 15px 20px -15px #080808;
	}

	/* Section météo/moyenne */
		/* Météo */
	#secMeteo > div > .colonne:nth-child(22n+1),
	#secMeteo > div > .colonne:nth-child(22n+2),
	#secMeteo > div > .colonne:nth-child(22n+3),
	#secMeteo > div > .colonne:nth-child(22n+4),
	#secMeteo > div > .colonne:nth-child(22n+5),
	#secMeteo > div > .colonne:nth-child(22n+6),
	#secMeteo > div > .colonne:nth-child(22n+7),
	#secMeteo > div > .colonne:nth-child(22n+8),
	#secMeteo > div > .colonne:nth-child(22n+9),
	#secMeteo > div > .colonne:nth-child(22n+10),
	#secMeteo > div > .colonne:nth-child(22n+11),
	#secTableau > div > .colonne:nth-child(12n+1),
	#secTableau > div > .colonne:nth-child(12n+2),
	#secTableau > div > .colonne:nth-child(12n+3),
	#secTableau > div > .colonne:nth-child(12n+4),
	#secTableau > div > .colonne:nth-child(12n+5),
	#secTableau > div > .colonne:nth-child(12n+6) {
		background-color: #3c3c3c;
	}
	#secMeteo > div > .colonne:nth-child(22n+12),
	#secMeteo > div > .colonne:nth-child(22n+13),
	#secMeteo > div > .colonne:nth-child(22n+14),
	#secMeteo > div > .colonne:nth-child(22n+15),
	#secMeteo > div > .colonne:nth-child(22n+16),
	#secMeteo > div > .colonne:nth-child(22n+17),
	#secMeteo > div > .colonne:nth-child(22n+18),
	#secMeteo > div > .colonne:nth-child(22n+19),
	#secMeteo > div > .colonne:nth-child(22n+20),
	#secMeteo > div > .colonne:nth-child(22n+21),
	#secMeteo > div > .colonne:nth-child(22n+22),
	#secTableau > div > .colonne:nth-child(12n+7),
	#secTableau > div > .colonne:nth-child(12n+8),
	#secTableau > div > .colonne:nth-child(12n+9),
	#secTableau > div > .colonne:nth-child(12n+10),
	#secTableau > div > .colonne:nth-child(12n+11),
	#secTableau > div > .colonne:nth-child(12n+12) {
		background-color: #1b1b1b;
	}

			/* Moyenne */
	#secMoyennes > div {
		box-shadow: 0px 15px 20px -15px #080808;
	}
	#secMoyennes > div > p {
		color: white;
	}
	#secMoyennes > div > h1 {
		color: white;
	}

				/* Température */
	#secMoyennes > div:first-child {
		background-color: rgba(102, 133, 255, 0.6);
	}
	#secMoyennes > div:first-child > h1 {
		border-image: radial-gradient(#00073c, #4c5ba0) 1;
	}

				/* Humidité */
	#secMoyennes > div:nth-child(2) {
		background-color: rgba(255, 167, 73, 0.6);
	}
	#secMoyennes > div:nth-child(2) > h1 {
		border-image: radial-gradient(#512200, #936b3e) 1;
	}

				/* Luminosité */
	#secMoyennes > div:last-child {
		background-color: rgba(255, 200, 61, 0.6);
	}
	#secMoyennes > div:last-child > h1 {
		border-image: radial-gradient(#523b00, #9d823f) 1;
	}

	/* Section graphique */
			/* Options du graphique */
	#optGraph {
		box-shadow: 0px 15px 20px -15px #353535;
	}
}