[Unit]
Description=Node Exporter Agent

[Service]
User=root
ExecStart=/bin/sh -c '/node_exporter'
Restart=always
 
[Install]
WantedBy=multi-user.target