[Unit]
Description=Webhook pull all webs
After=network.target

[Service]
ExecStart=/bin/bash /pm/infra/iaas/pull.sh

[Install]
WantedBy=multi-user.target
